@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-color: #191f1d;
  --mid-dark: #555a57;
  --light-color: #ece0c8;
  --mid-light: #949993;
  --shadow: #0005;
  --linear-rainbow: linear-gradient(
    to right,
    #ede6bf,
    #ecc947,
    #cb5a31,
    #6f5d79,
    #4e779a
  );
  --circle-rainbow: radial-gradient(
    circle at left top,
    #ede6bf,
    #ecc947,
    #cb5a31,
    #6f5d79,
    #4e779a
  );
  --noise-texture: url(https://res.cloudinary.com/evelasco/image/upload/v1760882825/eVelasco/ui/noise.png);
  --gif-texture: url(https://res.cloudinary.com/evelasco/image/upload/v1760882832/eVelasco/ui/stripes.gif);
  --mulish: "Mulish", sans-serif;
  --playfair: "Playfair Display", serif;
  --dm: "DM Serif Display", serif;
  --main-transition: all 0.2s ease-in-out;
}

html,
body {
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  place-items: center;
  background: var(--dark-color);
  background-image: var(--noise-texture);
  background-blend-mode: overlay;
}

h1 {
  margin: 0;
  font-family: var(--mulish);
  font-weight: 1000;
  font-size: 64px;
  color: var(--light-color);
}

h2 {
  margin: 0;
  font-family: var(--playfair);
  font-size: 16px;
  color: var(--mid-light);
}

h3 {
  margin: 0;
  font-family: var(--dm);
  font-size: 24px;
  color: var(--mid-light);
}

p {
  font-family: var(--mulish);
  font-weight: 700;
  width: 390px;
  color: var(--mid-light);
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  box-sizing: border-box;
  margin: 30px 128px;
  gap: 48px;
  font-size: 16px;
}

a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: var(--mulish);
  color: var(--mid-light);
  font-weight: 400;
  text-decoration: none;
  transition: var(--main-transition);
}

a:not(.buy, .buy-cta, .learn) {
  width: 64px;
}

a:hover:not(.buy, .buy-cta, .learn) {
  transition: var(--main-transition);
  font-weight: 900;
  text-shadow: 0 0 8px var(--light-color);
}

.scotch-container {
  margin: 0;
  padding: 0;
  display: grid;
  height: 580px;
  width: 960px;
  background-image: linear-gradient(
    150deg,
    var(--dark-color) 60.2%,
    var(--mid-dark) 60.28%,
    var(--mid-dark) 60.7%,
    var(--dark-color) 60.78%,
    var(--dark-color) 61.4%,
    var(--mid-dark) 61.48%,
    var(--mid-dark) 62.6%,
    var(--dark-color) 62.68%,
    var(--dark-color) 63.4%,
    var(--mid-dark) 63.48%,
    var(--mid-dark) 64.6%,
    var(--dark-color) 64.68%,
    var(--dark-color) 65.4%,
    var(--mid-dark) 65.48%,
    var(--mid-dark) 67.4%,
    var(--dark-color) 67.48%,
    var(--dark-color) 68.4%,
    var(--mid-dark) 68.48%,
    var(--mid-dark) 71.4%,
    var(--dark-color) 71.48%,
    var(--dark-color) 72.4%,
    var(--mid-dark) 72.48%,
    var(--mid-dark) 76.4%,
    var(--dark-color) 76.48%,
    var(--dark-color) 77.4%,
    var(--mid-dark) 77.48%,
    var(--mid-dark) 81.4%,
    var(--dark-color) 81.48%,
    var(--dark-color) 82.4%,
    var(--mid-dark) 82.48%,
    var(--mid-dark) 87.4%,
    var(--dark-color) 87.48%
  );
  box-sizing: border-box;
  /*   scale:2; */
  animation: spawn 2s ease-in-out forwards;
}

.scotch-container:before {
  content: "";
  display: flex;
  position: absolute;
  background-image: var(--noise-texture);
  height: 580px;
  width: 960px;
  mix-blend-mode: overlay;
  pointer-events: none;
  z-index: 3;
}

.scotch-container:hover:after {
  content: "";
  display: flex;
  position: absolute;
  background-image: var(--gif-texture);
  height: 580px;
  width: 960px;
  translate: 0px 0px;
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-size: cover;
  mix-blend-mode: screen;
  pointer-events: none;
  opacity: 64%;
  z-index: 3;
}

.main-container {
  padding: 0;
  margin: auto;
  display: grid;
  height: 460px;
  gap: 64px;
  place-items: center;
  box-sizing: border-box;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-sphere-container {
  display: flex;
  width: 125%;
  gap: 128px;
  align-items: center;
}

.sphere {
  display: grid;
  height: 200px;
  width: 200px;
  background-image: var(--circle-rainbow);
  border: 3px solid var(--dark-color);
  border-radius: 50%;
  transition: all 0.4s;
  box-shadow: 0px 0px var(--shadow);
}

.sphere:hover {
  scale: 1.1;
  box-shadow: 16px 16px var(--shadow);
  transition: var(--main-transition);
}

.buy {
  display: grid;
  place-items: center;
  font-weight: 900;
  border: 1px solid var(--mid-light);
  height: 40px;
  width: 128px;
  transition: var(--main-transition);
}

.buy:hover {
  scale: 1.1;
  rotate: -2deg;
  background: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--light-color);
  transition: var(--main-transition);
}

.buy-cta {
  display: grid;
  place-items: center;
  color: var(--dark-color);
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    var(--light-color),
    var(--light-color)
  );
  height: 40px;
  width: 200px;
  font-size: 16px;
  transition: var(--main-transition);
}

.buy-cta:hover {
  scale: 1.1;
  rotate: 2deg;
  color: var(--light-color);
  background-image: var(--linear-rainbow);
  transition: var(--main-transition);
}

.learn-arrow {
  margin: -40px 0;
  text-align: center;
  transition: var(--main-transition);
}

.learn:hover {
  scale: 1.2;
  font-weight: 900;
}

.learn {
  display: grid;
  color: var(--light-color);
  font-family: var(--mulish);
  font-weight: 400;
  cursor: pointer;
  font-size: 12px;
  transition: var(--main-transition);
}

.arrow {
  margin: -6px;
  padding: 0;
  font-size: 32px;
  color: var(--light-color);
}

@keyframes spawn {
  0% {
    box-shadow: 0 0 0 var(--shadow);
    opacity: 0%;
  }
  100% {
    box-shadow: 0 0 32px var(--shadow);
    opacity: 100%;
  }
}
